.sideNav {
  left: 0;
  top: 50px;
  width: 100px;
  display: flex;
  padding: 20px 0;
  position: absolute;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 50px);
  background: rgb(130, 199, 255);
}

.expandedSideNav {
  width: 200px;
}

.menuButton { 
  font-size: xx-large;
}
